 <h2>welcome to <strong>Bookers</strong>  !!</h2>
  <p>In <strong>Bookers</strong>, </p>
  <p>you can share and exchange your opinions, inpressions,and emotions</p>
  <p>about various books!</p>
  
    <p><a class="btn btn-info" href="/users/sign_in">Log in</a></p>
    <p><a class="btn btn-success" href="/users/sign_up">Sign Up</a></p>